package user

import (
	"github.com/invopop/ctxi18n/i18n"
	"github.com/jovandeginste/workout-tracker/v2/pkg/database"
	"github.com/jovandeginste/workout-tracker/v2/pkg/templatehelpers"
	"github.com/jovandeginste/workout-tracker/v2/views/helpers"
	"github.com/jovandeginste/workout-tracker/v2/views/partials"
	"time"
)

// StatistiqueTuile : libelle en petites capitales au-dessus, chiffre en grand
// dessous. L'icone geante de la version d'origine occupait un tiers de la tuile
// sans rien apprendre de plus que le libelle.
templ StatistiqueTuile(icon string, name string, value string, unit string) {
	<div class="tuile">
		<span class="libelle">
			@helpers.IconFor(icon)
			{ name }
		</span>
		<span class="valeur">
			{ value }
			if unit != "" {
				<span class="unite">{ unit }</span>
			}
		</span>
	</div>
}

templ StatsRecordDurationDate(workout *database.DurationRecord) {
	@StatsRecordDate(workout.ID, workout.Date)
}

templ StatsRecordDistanceDate(workout *database.Float64Record) {
	@StatsRecordDate(workout.ID, workout.Date)
}

templ StatsRecordDate(id uint64, date time.Time) {
	<span class="hidden xl:inline">
		<a href={ templ.SafeURL(helpers.RouteFor(ctx, "workout-show", id)) }>
			{ helpers.LocalDate(ctx, date ) }
		</a>
		<span class="hidden 2xl:inline">
			({ helpers.RelativeDate (ctx, date) })
		</span>
	</span>
	<span class="xl:hidden" title={ helpers.LocalDate(ctx, date) }>
		<a href={ templ.SafeURL(helpers.RouteFor(ctx, "workout-show", id)) }>
			{ date.Format("2006-01-02") }
		</a>
	</span>
}

templ StatsRecordsDistance(rec *database.WorkoutRecord) {
	{{ preferredUnits := helpers.CurrentUser(ctx).PreferredUnits() }}
	<h3>
		@helpers.IconFor(rec.WorkoutType.String())
		{ i18n.T(ctx, "translation.Records_for_s", i18n.T(ctx, rec.WorkoutType.StringT())) }
	</h3>
	<table class="workout-info table-auto">
		<tbody>
			<tr>
				<th>
					<span>
						@helpers.IconFor("speed")
						{ i18n.T(ctx, "translation.Average_speed") }
					</span>
				</th>
				<td class="font-mono whitespace-nowrap">
					@partials.PreferredSpeedMetric(&rec.WorkoutType, rec.AverageSpeed.Value, preferredUnits)
				</td>
				<td>
					@StatsRecordDistanceDate(&rec.AverageSpeed)
				</td>
			</tr>
			<tr>
				<th>
					<span>
						@helpers.IconFor("speed")
						{ i18n.T(ctx, "translation.Average_speed_no_pause") }
					</span>
				</th>
				<td class="font-mono whitespace-nowrap">
					@partials.PreferredSpeedMetric(&rec.WorkoutType, rec.AverageSpeedNoPause.Value, preferredUnits)
				</td>
				<td>
					@StatsRecordDistanceDate(&rec.AverageSpeedNoPause)
				</td>
			</tr>
			<tr>
				<th>
					<span>
						@helpers.IconFor("max-speed")
						{ i18n.T(ctx, "translation.Max_speed") }
					</span>
				</th>
				<td class="font-mono whitespace-nowrap">
					@partials.PreferredSpeedMetric(&rec.WorkoutType, rec.MaxSpeed.Value, preferredUnits)
				</td>
				<td>
					@StatsRecordDistanceDate(&rec.MaxSpeed)
				</td>
			</tr>
			<tr>
				<th>
					<span>
						@helpers.IconFor("distance")
						{ i18n.T(ctx, "translation.Total_distance") }
					</span>
				</th>
				<td class="font-mono whitespace-nowrap">
					{ templatehelpers.HumanDistanceFor(preferredUnits.Distance(&rec.WorkoutType))(rec.Distance.Value) } { preferredUnits.Distance(&rec.WorkoutType) }
				</td>
				<td>
					@StatsRecordDistanceDate(&rec.Distance)
				</td>
			</tr>
			<tr>
				<th>
					<span>
						@helpers.IconFor("up")
						{ i18n.T(ctx, "translation.Total_up") }
					</span>
				</th>
				<td class="font-mono whitespace-nowrap">
					{ helpers.HumanElevation(ctx, rec.TotalUp.Value ) } { preferredUnits.Elevation() }
				</td>
				<td>
					@StatsRecordDistanceDate(&rec.TotalUp)
				</td>
			</tr>
			<tr>
				<th>
					<span>
						@helpers.IconFor("duration")
						{ i18n.T(ctx, "translation.Total_duration") }
					</span>
				</th>
				<td class="font-mono whitespace-nowrap">{ helpers.HumanDuration(rec.Duration.Value) }</td>
				<td>
					@StatsRecordDurationDate(&rec.Duration)
				</td>
			</tr>
		</tbody>
	</table>
}
